.masterContainer {
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  max-width: max-content;
  padding: 20px;
  background-color: antiquewhite;
}

.headingCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 15px;
}

button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 15%;
  border: 1px solid rgb(56, 61, 80);
}

.counterNumber {
  border:1px solid rgb(56, 61, 80) ;
  padding: 25px;
  background-color: rgb(243, 47, 174, 91);
}
